**/appsettings.Development.json
*.env
.qodoo
appsettings.json
appsettings.Development.json
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.suo.old

bin/
obj/
publish/
**/[Bb]in/
**/[Oo]bj/
**/[Pp]ublish/
TestResults/
[Tt]est[Rr]esult*/

.vscode/
.idea/
*.sln.iml
*.DotSettings.user
_ReSharper*/

*.nupkg
!**/packages/build/
*.nuget.props
*.nuget.targets

.dockerignore

Thumbs.db
desktop.ini
.DS_Store

*.mdf
*.ldf
*.ndf

*.log
**/logs/